header {
    background-color: #A7C00D; /* Cor de fundo do cabeçalho */
    color: #fff; /* Cor do texto dentro do cabeçalho */
    text-align: center;
    height: 100px; /* Altura do cabeçalho */
    display: flex; /* Para alinhar itens verticalmente */
    align-items: center; /* Para alinhar itens verticalmente */
	/*justify-content: space-between;*/

}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
}

header h1 {
    font-size: 40px; /* Tamanho do texto */
    margin: 0; /* Remover margem */
	flex-grow: 1;
	text-align: center;
}


#recordButtonContainer {
	padding: 0;
	margin: auto;
    display: flex; /* Para alinhar o botão verticalmente */
    justify-content: center; /* Para centralizar horizontalmente */
    align-items: center; /* Para centralizar verticalmente */
    height: 70vh; /* Altura total da viewport */
	flex-direction: column; /* Altera a direção do layout flexível para coluna */
}

#recordButton {
	max-width: 200px;
    width: 100%; /* Define a largura do botão */
    height: 10vh; /* Define a altura do botão */
    border-radius: 10%; /* Faz o botão ser redondo */
    background-color: #3498db; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    font-size: 30px; /* Tamanho da fonte do texto do botão */
    display: flex; /* Para alinhar o conteúdo verticalmente */
    justify-content: center; /* Para alinhar o conteúdo horizontalmente */
    align-items: center; /* Para alinhar o conteúdo verticalmente */
    cursor: pointer; /* Muda o cursor para parecer um ponteiro quando hover */
    border: none; /* Remove a borda do botão */
	margin-bottom: 5%;
	transition: font-size 0.3s ease;
}

#recordButton:hover {
	font-size: 2.2vw;
}

#audio {
    width: 500%; /* Define a largura do botão */
    height: 5vh; /* Define a altura do botão */
    border-radius: 10%; /* Faz o botão ser redondo */
    background-color: #3498db; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    font-size: 20px; /* Tamanho da fonte do texto do botão */
    display: flex; /* Para alinhar o conteúdo verticalmente */
    justify-content: center; /* Para alinhar o conteúdo horizontalmente */
    align-items: center; /* Para alinhar o conteúdo verticalmente */
    cursor: pointer; /* Muda o cursor para parecer um ponteiro quando hover */
    border: none; /* Remove a borda do botão */
	margin-bottom: 100%;
}


.recordButtonContainer form {
    width: 20%; /* Define a largura do formulário */
    text-align: center; /* Centraliza o conteúdo do formulário */
}

.recordButtonContainer form input[type="file"],
.recordButtonContainer form input[type="submit"] {
    width: 100%; /* Define a largura dos botões para preencher o formulário */
    margin-bottom: 10px; /* Adiciona espaço entre os botões */
}

#uploadButton {
    width: 500%; /* Define a largura do botão */
    height: 5vh; /* Define a altura do botão */
    border-radius: 10%; /* Faz o botão ser redondo */
    background-color: #A7C00D; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    font-size: 30px; /* Tamanho da fonte do texto do botão */
    display: flex; /* Para alinhar o conteúdo verticalmente */
    justify-content: center; /* Para alinhar o conteúdo horizontalmente */
    align-items: center; /* Para alinhar o conteúdo verticalmente */
    cursor: pointer; /* Muda o cursor para parecer um ponteiro quando hover */
    border: none; /* Remove a borda do botão */
	/*margin-top: 500%;*/
	transition: font-size 0.3s ease;
}

#uploadButton:hover {
	font-size: 2.0vw;
}
